[Unit]
Description=Body Heat Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/paulo/body-heat/start.sh

[Install]
WantedBy=multi-user.target
